html{
    width: 100%;
    height: 100%;
    body{
        width: 100%;
        height: 100%;
        #app{
            height: 100%;

            //搜索框两边的padding值
            .van-search{
                padding: 10px 7px;
            }
            //导航栏的颜色
            //登陆 和注册专用
            .lr{//绿色
                .van-nav-bar{
                    background-color: #07c160;
                    .van-nav-bar__text{
                        color: #fff;
                    }
                    .van-nav-bar__title{
                        color: #fff;
                    }
                    .van-icon{
                        vertical-align: 0;
                    }
                }
            }
            .b{//蓝色
                .van-nav-bar{
                    background-color: #008fff;
                    .van-nav-bar__text{
                        color: #fff;
                    }
                    .van-nav-bar__title{
                        color: #fff;
                    }
                }
            }
            .g{//绿色
                .van-nav-bar{
                    background-color: #07c160;
                    .van-nav-bar__text{
                        color: #fff;
                    }
                    .van-nav-bar__title{
                        color: #fff;
                    }
                }
            }
            .r{//红色
                .van-nav-bar{
                    background-color: #ee0a24;
                    .van-nav-bar__text{
                        color: #fff;
                    }
                    .van-nav-bar__title{
                        color: #fff;
                    }
                }
            }
            #home{
                .header{
                    > div{
                        width: 100%;
                        .van-sticky{
                            display: flex;
                            background-color: #008fff;
                        }
                    }
                }
            }
            #center{
                .b{
                    .van-cell{
                        padding: 0;
                        padding-top: 10px;
                    }
                }
            }
        }
    }
}

h1,h2,h3,h4,h5,h6, p{
    margin: 0px;
    padding: 0px;
}

.top-line::after{
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    top: 0;
    height: 1px;
    background-color: #ebedf0;
    -webkit-transform: scale(1,.5);
    transform: scale(1,.5);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}


